:root{
    --primary-yellow: #fdc60d;
    --secondary-yellow: #fff6d6;
    --primary-gray: #f3f3f3;
    --secondary-gray: #3f3f3f;
    --third-gray: #f5f5f5;
    --fourth-gray: #dee2e6;
    --nav-link: #3a3a3a80;
    --primary-white: #FFFFFF;
    --primary-dark: #282827;
    --secondary-dark: #4a4947;
    --third-dark: #292929;
    --black: #000000;
}